APP_NAME=SSUBackend
APP_ENV=staging
APP_KEY=
APP_DEBUG=false

APP_URL=http://165.245.187.245
FRONTEND_URL=http://165.245.187.245

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=database
DB_USERNAME=username
DB_PASSWORD=user_password

SANCTUM_STATEFUL_DOMAINS=165.245.187.245
SESSION_DRIVER=cookie
SESSION_LIFETIME=1440
SESSION_ABSOLUTE_LIFETIME=1440
SESSION_INACTIVITY_TIMEOUT=60
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=165.245.187.245

SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=sendekato@gmail.com
MAIL_PASSWORD=knoqkrynclcebwgq
MAIL_FROM_ADDRESS="sendekato@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# reCAPTCHA v3
RECAPTCHA_SECRET_KEY=6Lfw5HYsAAAAADFVUnV7lPKtKg7OYpvHGsGOtTHn

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_test_51SfcOULm02KELZ9HvlJBlBt92mvdkwazV1BroumRNK3iW3USpdxIlfDZOs5gW7T4M37JB8pHLldNAatxGNmlSDwX004anGtdHW
STRIPE_SECRET_KEY=sk_test_51SfcOULm02KELZ9Ha3O7JwPdfKoX0SbybEXFmU2i640e7O5pWunoEZsCVKv6V6BHM5bUUSG2RNkRvJafpSY2F3P800XSUIyKak
STRIPE_WEBHOOK_SECRET=whsec_Z7edcEZDUZVatNL1Qk3V1HfUqRQUQ8Zc

# PayPal
PAYPAL_CLIENT_ID=ASt3fKB4iv-k8iLfA3yOA2_4CbJe5IE4hkGR-AjzmANrbHdfy2Jiz1MAtw8Vq3smWMOhCcZ0-C2qiEHd
PAYPAL_SECRET=EElQgcAU0LCsnHTkwJbqSTcFT7ej_EBV7YHAK9bsANZQN_nGDPpIPjdGQh0mKByVKTVU6IP0pwzJrOjv
PAYPAL_MODE=sandbox
PAYPAL_WEBHOOK_ID=42J29267M72887506
PAYPAL_RETURN_BASE_URL=http://165.245.187.245

# Square
SQUARE_APPLICATION_ID=sandbox-sq0idb-1cvmtmdeYVGNjTP7OeSsMQ
SQUARE_ACCESS_TOKEN=EAAAl6JiD9NfkLcP8BIBJiMALVuhs5uKGpKW-xi32HLYdWeS_2WiLlfI01FIO2y0
SQUARE_LOCATION_ID=LHE8WJS6KR9GE
SQUARE_MODE=sandbox
SQUARE_WEBHOOK_SECRET=1se-VWSDArkwUgjgBxcaFw
SQUARE_WEBHOOK_URL=https://webhooks.pageone247.com/api/webhooks/square

#Reverb
REVERB_APP_ID=138564
REVERB_APP_KEY=zsazenvtvubjdrobsf7g
REVERB_APP_SECRET=xqt3eimug63e50d2yebs
REVERB_HOST="reverb"
REVERB_SERVER_HOSTNAME=165.245.187.245
REVERB_PORT=8080
REVERB_SCHEME=http

REALTIME_ENABLED=true

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
